/*CSS file*/

/*Don't style the headers
style classes instead*/
/* h1 {
    background: powderblue;
    /*border-radius: 5px;
    display: static;
    I did some font rearrangement
    cuz I like Tahoma
    font-family: Tahoma,
    'Segoe UI', Geneva, Verdana, sans-serif;
    font-size: 60px;
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    text-align: center;

    left: 500px;

    position: absolute;
} */

p {
    /*same thing as above font family
    I prefer Helvetica*/
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
}

a:link {
    /*a visited link will dissappear
    with this styling*/
    /*background-color: transparent;*/
    color: plum;
    text-decoration: none;
}
a:visited {
    color:pink;
    text-decoration: none;
}
a:hover{
    color:red;
    text-decoration: underline;
}
a:active{
    color: gold;
    text-decoration: underline;
}

img{
    float: right;
    /*height: auto;
    width: auto;*/
}

/*Styling for classes*/

/*container to mimic what others have done before*/
.container{
    align-items: center;
    background-color: lightsteelblue;
    border-style: inset;
    border-width: 5px;
    display: flex;
    justify-content: center;
    margin: auto;
}

/*jumbotron should be used for headers*/
.jumbotron{
    background-color: gainsboro;
    border-color: lightcoral;
    border-style: outset;
    border-width: 5px;
    color: tomato;
    display: static;
    /*I did some font rearrangement
    cuz I like Tahoma*/
    font-family: Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: normal;
    margin: 5%;
    /* margin-right: auto;*/
    padding: 30px;
    text-align: center;
}

.text{
    float: right;
}

.stylepara{
    border-style: inset;
}


#myHeader {
    background-color: gainsboro;
    border-width: 15px;
    border-style: double;
    border-color:palevioletred;
    color: black;
    padding: 40px;
    text-align: center;
}

/* if something breaks it might be bcoz of this*/
/* ----------------------------------------------------------*/
/* yoooooo I figured out this cool html trick!

This should make the screen go all rainbow-y like the kahoot lobby
-EAVI

baColor are the colors the background should cycle through
spin is how I learned how to make the colors change
*/
body{
	text-align: center;
	animation: baColor 10s infinite;
	animation-direction: alternate;
}

@keyframes baColor {
	0% {
		background-color: firebrick;
	}

	20% {
		background-color: mediumorchid;
	}

	40% {
		background-color: lightskyblue;
	}

	60% {
		background-color: mediumseagreen;
	}

	80% {
		background-color: goldenrod;
	}

	100% {
		background-color: darkorange;
	}
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

/*--------------------------------------*/
/*Styling a header*/
/* Style the header with a background and some padding */
.header {
    overflow: hidden;
    background-color: lightsteelblue;
    padding: 20px 10px;
}
  
  /* Style the header links */
.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}
  
/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
    font-size: 25px;
    font-weight: bold;
}
  
/* Change the background color on mouse-over */
.header a:hover {
    background-color: blanchedalmond;
    color: black;
}
  
/* Style the active/current link*/
.header a.active {
    background-color: dodgerblue;
    color: black;
}
  
/* Float the link section to the right */
.header-right {
    float: right;
}
  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
    }
}
